html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;

  width: 500px;
  height: 500px;
  background-color: black;

  text-align: center;
}

button {
  cursor: pointer;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  padding: 0;
  border: none;

  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;

  appearance: none;
}

.cell:active {
  background-color: #eee;
}
